spring:
  application:
    name: jobs

  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: user
    hikari:
      connection-timeout: 60_000  # 60 seconds (default: 30s)
      max-lifetime: 120_000       # 2 minutes (default: 30min)
      leak-detection-threshold: 60_000